* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Montserrat';
  background-image: url('./resources/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  animation: rotate 30s infinite alternate linear;
}
@keyframes rotate{
  100%{
     background-position: 15% 50%; 
  }
} 

code {
  font-family: 'Montserrat',
    monospace;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'),
			url('./fonts/Montserrat-Italic-VariableFont_wght.ttf');
	font-weight: bold;
}


