* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Montserrat';
  color: #000;
  background-color: #2b496b;

}


code {
  font-family: 'Montserrat',
    monospace;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'),
			url('./fonts/Montserrat-Italic-VariableFont_wght.ttf');
	font-weight: bold;
}


